---
import Auth from "./Auth";
---

<header>
    <a
        href="/"
        class="brand"
        style="text-decoration: none; color: inherit; cursor: pointer;"
    >
        Plushies<br /><span>.DEV</span>
    </a>
    <div class="meta-info">
        <div style="margin-bottom: 0.5rem;">
            <Auth client:load />
        </div>
    </div>
</header>
